  #container {
      height: 550px;
      width: 500px;
      margin: 200px auto;
      background: #40B3A2;
      border-radius: 100px;
      text-align: center;
  }

  body {
      background: #C38D9D;
  }

  h1 {
      font-family: 'Bungee Shade', cursive;
      text-transform: uppercase;
      font-size: 50px;
      text-align: center;
  }

  #calculator {
      font-family: 'Bungee', cursive;
  }

  #totaltip {
      font-family: 'Bungee', cursive;
      font-size: 25px;
  }

  button {
      font-family: 'Bungee', cursive;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      margin: 30px auto;
      border-radius: 5px;
      width: 150px;
      font-size: 20px;
      background: white;
      border-color: #111;
  }

  button:active {
      position: relative;
      top: 2px;
  }

  #billtot {
      font-family: 'Bungee', cursive;
      width: 130px;
      font-size: 15px;
      text-align: center;
      background: #111;
      border-color: #111;
      color: white;
      border-radius: 100px;
  }

  #tipamt {
      font-family: 'Bungee', cursive;
      width: 80px;
      font-size: 15px;
      text-align: center;
      background: #111;
      border-color: #111;
      color: white;
      border-radius: 100px;
  }

  #participants {
      font-family: 'Bungee', cursive;
      width: 190px;
      font-size: 15px;
      text-align: center;
      background: #111;
      border-color: #111;
      color: white;
      border-radius: 100px;
  }